@import url('reset.css');

.wrapper {
    overflow: clip;
    min-height: 100%;
}

[class*= __container] {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

/* =========================================== */


.header {
    background-color: rgb(125, 138, 138);
    padding: 15px;
    text-align: center;
}

.header--fix{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.menu__item {
    display: inline-block;
    position: relative;
}

.menu__item:not(:last-child) {
    margin-right: 35px;
}

.menu__link {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 7px;
    width: 150px;
    visibility: hidden;
}

.menu__item:hover .menu__link {
    background: rgb(197, 199, 229);
}

.menu__item:hover .sub-menu {
    visibility: visible;
}

.sub-menu__item {
    background-color: rgb(171, 198, 189);
}

.sub-menu__link {
    display: block;
    padding: 7px;
}

.sub-menu__item {
    position: relative;
}

.three-level-menu {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 7px;
    width: 200px;
    visibility: hidden;
}

.sub-menu__item:hover .sub-menu__link {
    background-color: #fff;
    border-radius: 3px;
}

.sub-menu__item:hover .three-level-menu {
    visibility: visible;
}

.three-level-menu__item {
    background: rgb(197, 199, 229);;
}

.three-level-menu__link {
    display: block;
    padding: 7px;
    border-radius: 3px;
}

.three-level-menu__item:hover .three-level-menu__link {
    background-color: #fff;
}

.page {
    font-size: 0;
    padding: 100px 0;
}
/* =============================== */

.side {
    position: sticky;
    top: 100px;
    left: 0;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(203, 214, 224);
    width: 300px;
    font-size: 20px;
    padding: 30px;
}

.menu-side {
    position: relative;
    z-index: 2;
}

.menu-side__item {
    position: relative;
    
}

.menu-side__item:not(:last-child) {
    margin-bottom: 20px;
}

.menu-side__link {
    display: block;
    background: #fff;
    padding: 7px;
    border-radius: 3px;
    text-align: center;
}

.sub-menu-side {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    visibility: hidden;
}

.menu-side__item:hover .menu-side__link {
    background-color: rgb(202, 236, 237);
}

.menu-side__item:hover .sub-menu-side {
    visibility: visible;
}

.sub-menu-side__item {
    background-color: rgb(202, 236, 237);
}

.sub-menu-side__link {
    display: block;
    padding: 7px;
    text-align: center;
}

.sub-menu-side__item:hover .sub-menu-side__link {
    background-color: #fff;
    border-radius: 3px;
}

/* =============================== */


.content {
    display: inline-block;
    background-color: rgb(207, 229, 229);
    width: 700px;
    font-size: 20px;
}

.content__title {
    background-color: rgb(159, 165, 174);
    padding: 30px;
    font-size: 30px;
    color: rgb(5, 5, 38);
    text-align: center;
}

.content__text p:not(:last-child) {
    margin-bottom: 30px;
}

.content__text {
    padding: 30px;
    line-height: 2;
}

/* ============================= */

.page__cards {
    padding: 150px 0;
}

.cards__container {
    font-size: 0;
}

.cards__item:not(:last-child) {
    margin-right: 31px;
}

.cards__row:not(:last-child) {
    margin-bottom: 31px;
}

.item-card {
    display: inline-block;
    max-width: 386px;
    position: relative;
}

.item-card__img img{
    max-width: 100%;
}

.item-card__img::before{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: rgba(107, 119, 229, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.item-card:hover .item-card__social,
.item-card:hover .item-card__img::before{
    visibility: visible;
}

.item-card__social {
    position: absolute;
    top: 45%;
    left: 27%;
    visibility: hidden;
}

.social-item__link {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-item__link:not(:last-child){
    margin-right: 13px;
}

.social-item__link img{
    max-width: 100%;
}

.social-item__link:hover{
    opacity: 0.5;
}

.item-card__info {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    bottom: 22px; 
    right: 22px;
}

.info-item {
    background-color: #fff;
    padding: 24px;
    width: 341px;
    text-align: center;
}

.info-item__title {
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.info-item__text {
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.9;
}

/* ============================= */

.footer {
    background-color: rgb(125, 138, 138);
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.footer___text {
    padding: 10px;
    background-color: #fff;
    display: inline-block;
    border-radius: 3px;
    text-transform: capitalize;
}