@import url('reset.css');

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

body{
    /* font-family: 'Cormorant Infant', serif; */
    /* font-family: 'DM Serif Text', serif; */
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
}

[class*= __container] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

[class*= __img]:hover {
    opacity: .5;
    transition: all .3s ease 0s;
}

/* =========================== */

.page__section {
    padding: 100px 0;
}

.transparent {
    background-color: #FFF;
}

.transparent__top {
    text-align: center;
}

.transparent__top:not(:last-child) {
    margin-bottom: 62px;
}

.top-title__title{
    font-family: 'DM Serif Text', serif;
    font-size: 58px;
    color: #291403;
}

.top-title__title:not(:last-child) {
    margin-bottom: 27px;
}

.item-product__title-link,
.item-product__price,
.top-title__subtitle {
    font-family: 'Cormorant Infant',serif;
    font-weight: 700;
    line-height: 1.4;
}

.top-title__subtitle {
    font-size: 30px;
    color: #818181;
}

.transparent__products:not(:last-child){
    margin-bottom: 76px;
}

.products {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.products__column {
    padding: 0 15px;
    flex: 0 0 25%;
}

.item-product {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.item-product__img img{
    width: 100%;
    height: 100%;
    aspect-ratio: 270/270;
    object-fit: contain;
}

.item-product__img:not(:last-child) {
    margin-bottom: 17px;
}

.item-product__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.item-product__title-link,
.item-product__price {
    color: #000;
    font-size: 24px;
}

.tem-product__title-link:not(:last-child) {
    margin-bottom: 4px;
}

@media (any-hover:hover) {
    a:hover{
        text-decoration: underline;
        transition: all .3s ease 0s;
    }
}

button{
    display: block;
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    padding: 12px 43px;
    background-color: #FF7A49;
}

button:hover{
    opacity: .3;
}

.transparent__button {
    margin: 0 auto;
}

/* ==================================== */

@media (max-width:1024.98px) {
    .item-product__title-link,
    .item-product__price {
        font-size: 20px;
    }
    .page__section {
        padding: 30px 0 50px; 
    }
    .item-product {
        align-items: center;
    }
}

@media (max-width:991.98px) {
    .products__column {
        padding: 0 15px;
        flex: 1 0 50%;
    }
    .item-product {
        align-items: center;
    }
    .page__section {
        padding: 30px 0;
    }
    .transparent__top:not(:last-child) {
        margin-bottom: 20px;
    }
    .top-title__title {
        font-size: 40px;
    }
    .top-title__subtitle {
        font-size: 25px;
    }
    .transparent__products:not(:last-child){
        margin-bottom: 50px;
    }
    .item-product__title-link,
    .item-product__price {
        font-size: 24px;
    }
}

@media (max-width:767.98px) {
    .products__column {
        padding: 0 15px;
        flex: 1 0 50%;
    }
    .item-product {
        align-items: center;
    }
    .page__section {
        padding: 30px 0;
    }
    .transparent__top:not(:last-child) {
        margin-bottom: 25px;
    }
    .top-title__title {
        font-size: 35px;
    }
    .top-title__title:not(:last-child) {
        margin-bottom: 18px;
    }
    .transparent__products:not(:last-child){
        margin-bottom: 30px;
    }
}

@media (max-width:479.98px) {
    .products__column {
        padding: 0 15px;
        flex: 1 1 100%;
    }
    .item-product {
        align-items: center;
    }
    .page__section {
        padding: 20px 0;
    }
    .transparent__top:not(:last-child) {
        margin-bottom: 15px;
    }
    .top-title__title {
        font-size: 30px;
    }
    .top-title__title:not(:last-child) {
        margin-bottom: 15px;
    }
    .transparent__products:not(:last-child){
        margin-bottom: 15px;
    }
}

/* ======================================================== */

.popular {
    background-color: #FEFAF4;
    position: relative;
}

.popular::after{
    content: '';
    display: inline-block;
    background: url('../img/popular/flower.png') no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 171px;
    height: 384px;    
}

.popular__title.title,
.body__title {
    color: #000;
    font-family: 'DM Serif Text', serif;
}

.popular__title.title {
    font-size: 58px;
    text-transform: capitalize;
    text-align: start;
}

.popular__title:not(:last-child){
    margin-bottom: 27px;
}

.body__title {
    font-size: 24px;
    line-height: 1.2;
    flex-grow: 1;
}

.body__title:not(:last-child){
    margin-bottom: 16px;
}

.popular__subtitle.subtitle {
    color: #606060;
    font-size: 20px;
    line-height: 1.8;
    text-transform: capitalize;
    text-align: start;
}

.popular__subtitle:not(:last-child){
    margin-bottom: 50px;
}

.body__text {
    line-height: 1.6;
    flex-grow: 1;
}

.body__text:not(:last-child){
    margin-bottom: 8px;
}

.body__link a{
    color: #F55529;
    font-weight: 800;
    line-height: 1.5;
}

@media (any-hover:hover) {
    a:hover{
        text-decoration: underline;
        transition: all .3s ease 0s;
    }
}

.body__img img{
    flex: 0 0 24px;
}

.popular__row {
    display: flex;
    margin: 0 -25px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.card__column {
    flex: 0 0 33.3%;
    padding: 0 50px;
}

.item-card {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.item-card__img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 356/240;
    object-fit: cover;
}

.item-card__img:not(:last-child) {
    margin-bottom: 20px;
}

.body__link {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (max-width:1350.98px) {
    .popular::after{
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        content: '';
    }
    .popular__row {
        display: flex;
        margin: 0 -15px;
    }
    .card__column {
        flex: 0 1 33.3%;
        padding: 0 30px;
    }
}

@media (max-width:991.98px) {
    .popular__title.title {
        font-size: 40px; 
        text-align: center;   
    }
    .popular__title:not(:last-child){
        margin-bottom: 17px;
    }
    .popular__subtitle:not(:last-child){
        margin-bottom: 30px;
        text-align: center;
    }
    .card__column {
        flex: 1 0 33.3%;
        padding: 0 20px;
    }
    .popular__row {
        display: flex;
        margin: 0 -10px;
    }
}

@media (max-width:767.98px) {
    .card__column {
        flex: 1 0 50%;
        padding: 0 10px;
    }
    .popular__row {
        display: flex;
        margin: 0 -5px;
    }
    .popular__title:not(:last-child){
        margin-bottom: 10px;
    }
    .popular__subtitle:not(:last-child){
        margin-bottom: 20px;
    }
}

@media (max-width:479.98px) {
    .card__column {
        flex: 1 1 100%;
        padding: 0 10px;
    }
    .popular__row {
        display: flex;
        margin: 0 -5px;
    }
}

/* ============================================ */

.product {
    background-color: #0E333D;
    color: #FFF;
}

.title {
    font-family: 'DM Serif Text', serif;
    font-size: 48px;
    line-height: 1.27;
    text-align: center;
    text-transform: capitalize;
}

.product__title:not(:last-child) {
    margin-bottom: 23px;
}

.subtitle {
    color: #EBEBEB;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.27;
    text-align: center;
}

.product__subtitle:not(:last-child) {
    margin-bottom: 34px;
} 

.product__menu:not(:last-child){
    margin-bottom: 40px;
}

.menu__list {
    display: flex;
    column-gap: 41px;
    row-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.menu__link a {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.27;
}

@media (any-hover:hover) {
    a:hover{
        text-decoration: underline;
        transition: all .3s ease 0s;
    }
}

.product__row {
    display: flex;
    margin: 0 -17px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.product__column {
    padding: 0 15px;
    flex: 0 1 25%;
}

.card-product {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    min-width: 100%;
}

.card-product__img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 270/270;
    object-fit: contain;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content__link {
    display: inline-block;
    color: #FFF;
    font-family: 'Cormorant Infant',serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.40;
}

.content__title {
    flex-grow: 1;
}

.content__title:not(:last-child) {
    margin-bottom: 4px;
}

.footer {
    padding: 20px 0;
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 30px;
}

/* ========================================== */


@media (max-width:1200.98px) {
        .product__row {
        display: flex;
        margin: 0 -15px;   
    }
    .product__column {
        padding: 0 15px;
        flex: 0 1 33.3%;
    }
}

@media (max-width:903.98px) {
    .product__row {
        display: flex;
        margin: 0 -15px;   
    }
    .product__column {
        padding: 0 15px;
        flex: 0 1 50%;
    }
}

@media (max-width:606.98px) {
    .product__row {
        display: flex;
        margin: 0 -15px;   
    }
    .product__column {
        padding: 0 30px;
        flex: 1 1 100%;
        text-align: center;
    } 
}

@media (max-width:479.98px) {
    .title {
    font-size: 35px;
    } 
    .product__subtitle:not(:last-child) {
        margin-bottom: 25px;
    } 
    .product__title:not(:last-child) {
        margin-bottom: 12px;
    }
    .product__row {
        display: flex;
        margin: 0 -15px;   
    }
    .product__column {
        padding: 0 15px;
        flex: 1 1 100%;
        text-align: center;
    }
}
