@import url('reset.css');

body{
    /* font-family: 'Cormorant Infant', serif; */
    font-family: 'Inter', sans-serif;
    /* font-family: 'Merriweather', serif; */

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}

.wrapper > main {
    flex-grow: 1;
}

.footer{

}

.page{
    display: flex;
    flex-direction: column;
}

[class*=__container] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* -----------header------------- */

.header{
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0;
    z-index: 50;
    background-color: #fff;
}

.header__container {
    display: flex;
    gap: 15px;
    align-items: center;
    min-height: 100px;
}

.header__logo {
    color: #000;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    flex-shrink: 0;
    position: relative;
    z-index: 5;
}

.menu {
    flex: 1 1 auto;
}

.menu__list {
    display: flex;
    justify-content: center;
    column-gap: 36px;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
}

.menu__link {
    color: #000;
    font-family: 'Merriweather',serif;
    font-size: 20px;
    transition: color 0.3s;
}
@media (any-hover:hover){
    .menu__item:hover .menu__link {
        text-decoration: underline;
    }
}
.menu__item--active.menu__link {
    color: #D58417;
    font-weight: 700;
    text-decoration: underline;
}

.menu__item--parent .menu__link {
    display: flex;
    align-items: center;
    gap: 4px;
}

.menu__item--parent .menu__link::after {
    content: '';
    background: url(../img/icons/arrow.png) 0 0 no-repeat;
    height: 8px;
    width: 16px;
    flex: 0 0 16px;
}
@media (any-hover:hover) {
    .menu__item--parent:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: all;
    }
}

.menu__item--parent {
    position: relative;
}

@media (any-hover:hover) {
    .menu__item--parent:hover .menu__link::after {
        transform: rotate(-180deg);
        transition: all 0.3s;
    }
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    transform: translate(0px,10%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    pointer-events: none;
}

.sub-menu__list {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0 5px 0 #000;
}
@media (any-hover:hover) {
    .sub-menu__link:hover{
        text-decoration: underline;
    }
}

.sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
}

.header__actions {
    flex-shrink: 0;
}

.actions-header {
    display: flex;
    gap: 23px;
    align-items: center;
}

.actions-header__item {
    flex: 0 0 32px;
    position: relative;
    transition: transfom 0.3s;
}
@media (any-hover:hover) {
    .actions-header__item:hover {
        transform: scale(1.1);
    }
}

.actions-header__item {
    max-width: 100%;
}

.actions-header__item span {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #FF3333;
    border-radius: 50%;
    font-size: 9px;
    color: #fff;
    text-align: center;
    line-height: 12px;
}

.icon-menu{
    display: none;
}
/* ----------------------------------- */

@media (max-width:960px) {
    .header__container {
        min-height: 50px;
    }
    .menu__body{
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: -100%;
        transition: left 0.3s;
        padding: 80px 15px 30px;
        background-color: #502203;
    }
    .menu__body::before{
        content: '';
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        left: -100%;
        transition: left 0.3s;
        z-index: 2;
        background-color: #FFF;
    }
    .menu-open .menu__body,
    .menu-open .menu__body::before{
        left: 0;
    }
    .menu__list{
        flex-direction: column;
        align-items: flex-end;
        column-gap: 28px;
    }
    .menu__link{
        font-size: 28px;
        color: #FFF;
    }
    .sub-menu{
        position: relative;
        visibility: visible;
        opacity: 1;
        transform: translate(0px,0);
    }
    
    .sub-menu__list{
        width: 100%;
        padding: 15px;
    }

    .sub-menu__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .menu__item--parent .menu__link {
        justify-content: flex-end;
    }

    .sub-menu__link{
        font-size: 24px;
    }

    .icon-menu{
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        flex: 0 0 30px;
        height: 18px;
    }
    .icon-menu::before,
    .icon-menu::after,
    .icon-menu span{
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #000;
    }
    .icon-menu::before{
        top: 0;
    }
    .icon-menu::after{
        bottom: 0;
    }
    .icon-menu span{
        top: 50%;
        margin-top: -1px;
    }
    .menu-open .icon-menu span{
        transform: scale(0);
    }
    .menu-open .icon-menu::before{
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
    }
    .menu-open .icon-menu::after{
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
    }
}
@media (max-width:440px){
    .header__container{
        gap: 5px;
    }
    .header__logo{
        font-size: 24px;
    }
    .actions-header{
        gap: 10px;
    }

}
/* -------hero------------------ */

.hero{
    background-color: #502203;
    flex-grow: 1;
    padding: 200px 0 55px;
    display: flex;
    position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: url('../img/decor/vector-01.svg')0 0 no-repeat, 
                url('../img/decor/decor-img-01.png') no-repeat left 38px bottom 0,
                url('../img/decor/border-01.svg') no-repeat left 32px bottom 5px;
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: url('../img/decor/vector-02.svg')  no-repeat top 250px right 0px,
                url('../img/decor/decor-img-02.png') no-repeat right 0px bottom 55px,
                url('../img/decor/border.svg') no-repeat right 0 bottom 39px;
}

.hero__body{
    color: #FFF;
    font-family: 'Cormorant Infant',sans-serif;
    display: flex;
}
@media (min-width:992px) {
    .hero__block{
        padding-top: 57px;
        padding-right: 30px;
    }
}

.hero__title:not(:last-child){
    margin-bottom: 9px;
}

.title{
    font-family: 'Cormorant Infant',sans-serif;
    font-size: 78px;
    font-weight: 700;
    line-height: 129%;
}

.hero__button {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 4px;
    border: 1px solid #FFF;
    transition: all 0.3s;
    position: relative;
}

.hero__button::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 12px;
    left: -8px;
    background-color: rgba(255, 255, 255, 0.06);
    transition: all 0.3s;
}

@media (any-hover:hover) {
    .hero__button:hover::before {
        top: 0;
        left: 0;
    }
    .hero__button:hover{
        top: 12px;
        left: -8px;
    }
}

.hero__image{
    flex-basis: 37%;
    flex-shrink: 0;
    border-radius: 215px;
    border: 1px solid #FFF;
    padding: 20px;
}

.hero__image img{
    max-width: 100%;
    border-radius: 195px;
}

@media (min-width:992px) {
    .hero__content{
        padding-top: 76px;
        padding-left: 23px;
        flex-basis: 30%;
        flex-shrink: 0;
    }
}

.content-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.content-hero__text{
    flex-grow: 1;
    font-size: 22px;
    font-weight: 700;
    line-height: 148%;
}

.content-hero__item{
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    position: relative;
    padding-left: 10px;
    
}
.content-hero__item::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    left: 0px;
    width: 1px;
    height: 80%;
    background-color: #FFF;
}

@media (min-width:992px){
    .content-hero__item{
        align-self: flex-end;
        margin-bottom: 183px;
    }
}
/* ----------------------------- */
@media (max-width:1463px) {
    .hero::before,
    .hero::after {
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }
}
@media (max-width:1200px) {
    .hero__title{
        font-size: 64px;
    }
}

@media (max-width:991.98px){
    .hero{
        padding: 150px 0 40px;
    }
    .hero__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .hero__image {
        max-width: 430px;
    }
    .content-hero__item{
        align-self: flex-end;
    }
}

@media (max-width:960px) {
    .hero{
        padding: 90px 0 40px;
    }
}

@media (max-width:470px) {
    .hero__title{
        font-size: 46px;

    }
    .hero__body{
        text-align: center;
    }
    .content-hero__item{
        align-self: center;
    }
}
/* ---------footer------------ */

.footer{
    background-color: #FFF;
    padding: 23px 0;
    display: flex;
}
.footer__text{
    font-size: 23px;
    align-items: center;
    justify-content: center;
}