@import url('fonts.css');

@import url('reset.css');

body {
    font-family: 'Causten',sans-serif;
    font-size: 14px;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

[class*= __container] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ============================= */

.button {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 48px;
    border-radius: 8px;
    background: #8A33FD;
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.button:hover {
    background-color: rgba(101, 31, 194, 0.3);
}

.button--transparent {
    color: #8A33FD;
    border-radius: 8px;
    border: 1px solid #3C4242;
    background-color: #FFF;
}

.button--smaller {
    padding: 14px 28px;
}

/* ======================= */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding: 10px 0;
    background-color: #FFF;
}

.header__container {
    min-height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
    row-gap: 29px;
    flex-wrap: wrap;
}

.header__block {
    display: flex;
    flex: 1 1 210px;
    justify-content: space-between;
    gap: 29px;
    flex-wrap: wrap;
}

.header__logo { 
    display: inline-block;
    height: 45px;
    width: 91px;
    margin-right: 100px;
}

.header__logo img {
    max-width: 100%;
}

.header__logo:hover{
    opacity: .5;
    transition: all .3s ease;
}

.header__search {
    position: relative;
}

.header__search input{
    padding: 12px 12px 12px 80px;
    color: #807D7E;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: #F6F6F6;
    max-width: 184px;
}    

.header__search::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/search.svg) center;
    top: 12px;
    left: 48px;
}

.header__search input:hover{
    opacity: .5;
}

.header__languages {
    display: flex;
    align-items: center;
    padding: 5px 3px;
}

.header__languages a {
    display: inline-block;
    color: #333;
    font-size: 18px;
    margin-right: 20px;
}

.header__languages::after {
    content: '';
    display: inline-block;
    background: url('../img/icons/vector.svg') no-repeat;
    top: 50%;
    right: 0;
    width: 10px;
    height: 5px;
}

.header__languages:hover{
    opacity: 0.5;
    transition: all .3s ease;
}

.header__buttons {
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
}
/* ======================================= */

.categories {
    padding: 150px 0 100px 0;
}

.categories__title {
    color: #3C4242;
    font-family: 'Core Sans C', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: .9;
    letter-spacing: 0.68px;
    text-transform: capitalize;
    display: inline-flex;
    column-gap: 20px;
}

.categories__title::before{
    content: '';
    display: inline-block;
    border-radius: 10px;
    background: #8A33FD;
    width: 6px;
    height: 30px;
}

.categories__title:not(:last-child) {
    margin-bottom: 70px;
}

.categories__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px -50px -25px;
}

.categories__columns {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 25px;
    padding-bottom: 50px;
}

.column-item {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.column-item__img {
    overflow: hidden;
    border-radius: 10px;
}

.column-item__img img {
    max-width: 100%;
}

.column-item__img:not(:last-child) {
    margin-bottom: 16px;
}

.column-item__img:hover {
    transition:all 0.4s ease;
    opacity: 0.5;
}

.column-item__body {
    display: flex;
    flex-grow: 1;
}

.column-item__content {
    flex-grow: 1;
}

.column-item__title {
    flex: 1 1 auto;
}

.column-item__title-link {
    color: #2A2F2F;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.7;
}
.column-item__title-link:not(:last-child) {
    margin-bottom: 4px;
}

.column-item__title-link:hover {
    text-decoration: underline;
    transition: all .3s ease;
}

.column-item__link {
    flex: 0 0 20px;
    background: url(../img/arrow-rt.svg) no-repeat;
    
}

.column-item__link:hover {
    opacity: .5;
    transition: all .3s ease;
}

.column-item__text {
    color: #7F7F7F;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.5;
}

.column-item__text p:not(:last-child) {
    margin-bottom: 10px;
}
/* ================================= */

.wishlist {
    padding: 100px 0;
}

.wishlist__box {
    max-width: 933px;
    margin: 0 auto;
    padding: 0 15px;
}

.title-3 {
    color: #3C4242;
    font-family: 'Core Sans C', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.56px;
}

.wishlist__title:not(:last-child){
    margin-bottom: 50px;
}

.text-info {
    color: #3C4242;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
    text-transform: capitalize;
}

.text-info span {
    color: #807D7E;
    font-weight: 500;
}

.item-wishlist__price {
    color: #807D7E;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
}

.wishlist__row {
    display: flex;
    flex-direction: column;
}

.wishlist__columns {
    flex: 1 0 110px;
    padding: 30px 0;
    border-bottom: 1px solid #EDEEF2;
}

.item-wishlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 36px;
}

.item-wishlist__close:hover {
    opacity: .5;
}

.item-wishlist__img {
    flex: 0 0 110px;
}

.item-wishlist__img img {
    max-width: 100%;
}

.item-wishlist__img:hover {
    opacity: .5;
}

.item-wishlist__info {
    flex-grow: 1;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.item-wishlist__button {
    flex-shrink: 0;
}

/* =============================== */

.orders {
    padding: 100px 0;
}

.orders__box {
    max-width: 925px;
    margin: 0 auto;
    padding: 0 15px;
}

.orders__title:not(:last-child){
    margin-bottom: 38px;
}

.menu__item:hover .menu__list {
    padding: 12px 53px;
    background-color: #F6F6F6;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #3C4242;
    transition: all .3s ease;
}

.menu__list {
    color: #3C4242;
    font-family: 'Core Sans C', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.44px;
}

.orders__menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
    border-bottom: 3px solid #F6F6F6;
    margin-bottom: 50px;
}

.top-order__title {
    color: #3C4242;
    font-size: 20px;
    font-weight: 600;
    flex: 1 0 100%;
}

.top-order__title:not(:last-child) {
    margin-bottom: 14px;
}

.text-order {
    color: #807D7E;
    font-weight: 600;
}

.text-order--gray{
    color: #807D7E;
}

.text-order span {
    color: #BEBCBD;
    font-weight: 400;
}

.orders__row {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.column-order__top {
    display: flex;
    flex-direction: column;
}

.top-order {
    padding: 28px 47px;
    border-radius: 8px;
    background-color: #F6F6F6;
}

.top-order__row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.top-order__data,
.top-order__status {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.column-order {
    border-bottom: 1px solid #EDEEF2;
}

.down-order {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;

}

.down-order__img {
    flex: 0 0 100px;
}

.down-order__img img {
    max-width: 100%;
}

.down-order__img:hover{
    opacity: .5;
}

.info-down {
    flex-grow: 1;
}

.down-order__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-down__title {
    color: #3C4242;
    font-size: 16px;
    font-weight: 600;
}

.info-down__title:not(:last-child){
    margin-bottom: 10px;
}
/* ========================== */

.footer {
    padding: 50px 0;
    background-color: #F6F6F6;
    font-size: 30px;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: center;
}