*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
option,
select {
  cursor: pointer;
}

input[type=text],
iput[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-bold-webfont.woff2") format("woff2"), url("../fonts/causten-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 1184px) {
  .header__container {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 50px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 533px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  max-width: 91px;
  max-height: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__logo img {
  max-width: 100%;
}
@media (any-hover: hover) {
  .header__logo:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media (max-width: 991.98px) {
  .header__logo {
    z-index: 5;
  }
}
@media (max-width: 565px) {
  .header__logo {
    max-width: 70px;
  }
}
@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #3C4242;
    padding: 70px 15px 30px;
    overflow: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    background-color: #fff;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1184px) {
  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
@media (any-hover: hover) {
  .menu__item:hover {
    text-decoration: underline;
  }
}
.menu__link {
  color: #807D7E;
  font-size: 22px;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__link--active {
  font-weight: 700;
  color: #3C4242;
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 30px;
    color: #fff;
  }
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 991.98px) {
  .form-header {
    z-index: 5;
  }
}
@media (max-width: 530px) {
  .form-header {
    display: none;
  }
}
.form-header__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}
@media (max-width: 1184px) {
  .form-header__line {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 270px;
            flex: 0 1 270px;
  }
}
.form-header__btn {
  position: absolute;
  top: 30%;
  left: 20px;
}
.form-header__btn img {
  max-width: 100%;
  width: 20px;
  height: 20px;
}
.form-header__input {
  height: 44px;
  padding-left: 52px;
  width: 100%;
  border-radius: 8px;
  background: #F6F6F6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form-header__input::-webkit-input-placeholder {
  color: #807D7E;
}
.form-header__input::-moz-placeholder {
  color: #807D7E;
}
.form-header__input:-ms-input-placeholder {
  color: #807D7E;
}
.form-header__input::-ms-input-placeholder {
  color: #807D7E;
}
.form-header__input::placeholder {
  color: #807D7E;
}
.form-header__input:hover {
  outline: 1px solid #3C4242;
}
.form-header__input:hover::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form-header__input:hover::-moz-placeholder {
  opacity: 0;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.form-header__input:hover:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.form-header__input:hover::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.form-header__input:hover::placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media (max-width: 991.98px) {
  .actions-header {
    position: relative;
    z-index: 5;
  }
}
@media (max-width: 533px) {
  .actions-header {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.actions-header__item {
  cursor: pointer;
  border-radius: 8px;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  padding: 12px;
  max-width: 44px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.actions-header__item img {
  min-width: 100%;
  aspect-ratio: 20/20;
}
.actions-header__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 991.98px) {
  .icon-menu {
    position: relative;
    z-index: 5;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    width: 30px;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3C4242;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    margin: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
  }
}

body {
  font-family: "Causten", sans-serif;
}
.menu-open body {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.page__slider {
  padding: 100px 0;
}
@media (max-width: 991.98px) {
  .page__slider {
    padding: 50px 0;
  }
}

.slider__wrapper {
  position: relative;
}
.slider__btn {
  position: absolute;
  top: 50%;
  height: 44px;
  width: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.slider__btn img {
  max-width: 100%;
}
.slider__btn--left {
  left: 2.7%;
}
.slider__btn--right {
  right: 2.7%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.item-slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  aspect-ratio: 1449/716;
}
.item-slider__img img {
  max-width: 100%;
}
.item-slider__container {
  position: relative;
  z-index: 2;
  padding: 10%;
  display: grid;
  grid-template-columns: 0.7fr;
  row-gap: 40px;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .item-slider__container {
    justify-items: center;
    row-gap: 30px;
  }
}
@media (max-width: 479.98px) {
  .item-slider__container {
    grid-template-columns: 1fr;
  }
}

.content {
  color: #fff;
  font-family: "Core Sans C", sans-serif;
}
.sub-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.3px;
}
@media (max-width: 767.98px) {
  .sub-title {
    font-size: 20px;
  }
}

.title {
  font-size: 78px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.3px;
}
@media (max-width: 991.98px) {
  .title {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
}

.button {
  display: inline-block;
  font-family: "Causten", sans-serif;
  color: #3C4242;
  background-color: #fff;
  padding: 16px 72px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 1px 1px 7px #3C4242;
            box-shadow: 1px 1px 7px #3C4242;
  }
}
@media (max-width: 991.98px) {
  .button {
    font-size: 16px;
  }
}

.footer {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}
.footer p {
  font-size: 23px;
  color: #807D7E;
  font-weight: 500;
}