
.catalog {
    &__main {
        @include adaptiveValue ('margin-bottom', 100, 40);
    }

    &__container {
        display: flex;
        align-items: flex-start;
        @media (max-width: toEm(992)) {
            display: block;
        }
    }
    // .catalog__filter

    &__filter {
        flex: 0 0 toRem(295);
    }

    // .catalog__body

    &__body {
        flex: 1 1 auto;
        @include adaptiveValue('padding-left', 50, 20, 2, $containerWidth, 992);
        @include adaptiveValue('padding-right', 50, 20, 2, $containerWidth, 992);
        @include adaptiveValue('padding-top', 50, 30);
        @include adaptiveValue('padding-bottom', 50, 30);
    }

    // .catalog__header

    &__header {
        display: flex;
        justify-content: space-between;
        gap: toRem(15);
        flex-wrap: wrap;
        &:not(:last-child){
            @include adaptiveValue('padding-bottom', 50, 20);
        }
    }

    // .catalog__title

    &__title {
        font-size: toRem(22);
        font-weight: 600;
        color: $darkColor;
    }

    // .catalog__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
        column-gap: toRem(24);
        @include adaptiveValue('row-gap', 50, 24);
    }
    &__description {
    }
    &__best-price {
    }
}
.catalog {

    // .catalog__container

    &__container {
    }

    // .catalog__type

    &__type {
    }
}

.type-catalog {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(25);
    row-gap: toRem(10);

    &__item {}
        

    // .type-catalog__buttom

    &__buttom {
        @extend.catalog__title;
        transition: all 0.3s;
        @media (any-hover:hover) {
            &:hover {
                color: $purplColor;
            }
        }
    }

    // .type-catalog__buttom--active

    &__buttom--active {
        color: $purplColor;
    }
}

.description-catalog {
    @include adaptiveValue ('margin-bottom', 100, 40);
    &__container {
    }

    // .description-catalog__title

    &__title {
        @include adaptiveValue('margin-bottom', 30, 20);
    }

    // .description-catalog__body

    &__body {
        &:not(:last-child){
            @include adaptiveValue ('margin-bottom', 25, 15);
        }

        p {
            line-height: 1.67;
            @include adaptiveValue('font-size', 20, 16);
            letter-spacing: 0.2;
            &:not(:last-child){
                @include adaptiveValue ('margin-bottom', 20, 10);
            }
        }
        h3{
            font-family: 'Core Sans C', sans-serif;
            font-weight: 700;
            @include adaptiveValue('font-size', 20, 16);
            line-height: 1.67;
            letter-spacing: 0.2;
            &:not(:last-child){
                @include adaptiveValue ('margin-bottom', 25, 15);
            }
        }
        strong{
            font-weight: 700;
        }
    }

    &__see-more {
        font-family: 'Core Sans C', sans-serif;
        font-weight: 700;
        @include adaptiveValue('font-size', 20, 16);
        line-height: 1.67;
        letter-spacing: 0.2;
        transition: all 0.3s;
        &:not(:last-child){
            @include adaptiveValue ('margin-bottom', 25, 15);
        }
        @media (any-hover:hover) {
            &:hover {
                color: $purplColor;
            }
        }
    }
}


.best-price {

    // .best-price__container

    &__container {
    }

    // .best-price__title

    &__title {
        &:not(:last-child){
            @include adaptiveValue ('margin-bottom', 50, 20);
        }
    }

    // .best-price__table

    &__table {
        // @media (max-width: toEm(600)) {---------scrol
        //     overflow: auto;
        // }
    }
}


.table-best-price {
    // min-width: toEm(600);-----------------------
    background-color: $liteColor;
    border-radius: toRem(12);
    color: $darkColor;
    width: 100%;
    border-collapse: collapse;
    th{ 
        font-family: 'Core Sans C', sans-serif;
        @include adaptiveValue('font-size', 24, 18);
        font-weight: 700;
        line-height: 1.39;
        @include adaptiveValue ('padding-top', 50, 15);
        @include adaptiveValue ('padding-bottom', 50, 15);
        @include adaptiveValue ('padding-right', 70, 15);
        @include adaptiveValue ('padding-left', 70, 15);
        text-align: left;
        border-bottom: toRem(1) solid rgb(190, 188, 189, 0.4);
        &:not(:last-child){
            border-right: toRem(1) solid rgb(190, 188, 189, 0.4);
        }
        &:first-child {
            width: 78%;
        }
    }

    tr{
        &:nth-child(2){
            td {
                @include adaptiveValue ('padding-top', 50, 15);
            }
        }
        &:last-child{
            td {
                @include adaptiveValue ('padding-bottom', 50, 15);
            }
        }
    }

    td{
        @include adaptiveValue('font-size', 24, 16);
        @include adaptiveValue ('padding-top', 25, 7.5);
        @include adaptiveValue ('padding-bottom', 25, 7.5);
        @include adaptiveValue ('padding-right', 70, 15);
        @include adaptiveValue ('padding-left', 70, 15);
        &:not(:last-child){
            border-right: toRem(1) solid rgb(190, 188, 189, 0.4);
        }
    }
}
