%footer-title {
    @include adaptiveValue ('font-size', 28.5, 24);
    color: $liteColor;  
    font-weight: 700;
    line-height: 120%
}
%footer-item {
    color: $liteColor;  
    font-size: toRem(18);
    font-weight: 500;
    line-height: 120%
}


.footer {
    background-color: $darkColor;
    // .footer__container

    &__container {
    }

    // .footer__menu

    &__menu {
        @include adaptiveValue ('padding-top', 75, 30);
        @include adaptiveValue ('padding-right', 85, 0, 0, $containerWidth, 768);
        @include adaptiveValue ('padding-left', 85, 0, 0, $containerWidth, 768);

        &:not(:last-child) {
            @include adaptiveValue ('margin-bottom', 30, 25);
        }  
    }

    // .footer__body

    &__body {
        display: flex;
        align-items: flex-end;
        gap: toRem(25);
        
        @include adaptiveValue ('padding-right', 85, 0, 0, $containerWidth, 768);
        @include adaptiveValue ('padding-left', 85, 0, 0, $containerWidth, 768);
        @media (max-width: toEm(760)) {
            flex-direction: column-reverse;
            align-items: stretch;
        }
        &:not(:last-child) {
            @include adaptiveValue ('margin-bottom', 50, 25);
        }
    }

    // .footer__social

    &__social {
        flex: 1 1 auto;
    }

    // .footer__download

    &__download {
        flex: 0 0 37.26%;
        @media (max-width: toEm(760)) {
            flex: 1 1 auto;
        }
    }

    // .footer__categories

    &__categories {
    }

    // .footer__copy

    &__copy {
        color: #fff;  
        font-size: toRem(18);
        font-weight: 700;
        line-height: 120%;
        text-align: center;
        @include adaptiveValue ('padding-top', 40, 10);
        @include adaptiveValue ('padding-bottom', 40, 10);
    }
}

.menu-footer {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue ('row-gap', 30, 15);

    &__block {
        flex: 1 1 20.9%;
        padding-right: toRem(30);

        @media (min-width: toEm(760)) {
            &:nth-child(4n),
            &:last-child {
                padding-right: toRem(0);
                flex: 1 1 37.26%;
            }
        } 
        
        @media (max-width: toEm(760)) {
            flex: 1 1 33.33%;
            &:nth-child(3n),
            &:last-child {
                padding-right: toRem(0);
            }
        } 

        @media (max-width: toEm(440)) {
            flex: 1 1 50%;
            &:nth-child(2n),
            &:last-child {
                padding-right: toRem(0);
            }
        }

        @media (max-width: toEm(379.98)) {
            flex: 1 1 100%;
            padding-right: toRem(0);
            &:nth-child(4n),
            &:last-child {
                flex: 1 1 100%;
            }
        }
    }
    // .menu-footer__title

    &__title {
        @extend %footer-title;
        transition: all 0.3s;
        &:not(:last-child) {
            @include adaptiveValue ('margin-bottom', 40, 10);
        } 
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }   
    }
    // .menu-footer__list

    &__list {
    }

    // .menu-footer__item

    &__item {
        @extend %footer-item;
        &:not(:last-child) {
            @include adaptiveValue ('margin-bottom', 25, 5);
        }    
    }

    // .menu-footer__link

    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.social-footer {
    // .social-footer__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(10);
        @media (max-width: toEm(400)) {
            justify-content: space-between;
        }
    }

    &__item {
        flex: 0 0 toRem(37);
        height: toRem(37);
        @media (max-width: toEm(400)) {
            flex: 1 1 auto;
        }
    }

    // .social-footer__link

    &__link {
        height: toRem(37);
        border-radius: toRem(8);
        color: #2A2F2F;
        background-color: $liteColor;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $mainColor;
                color: $liteColor;
            }
        }  
    }
}

.download-apps {

    // .download-apps__title

    &__title {
        @extend %footer-title;
        transition: all 0.3s;
        &:not(:last-child){
            @include adaptiveValue ('margin-bottom', 35, 10);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }   
    }

    &__items {
        display: flex;
        column-gap: toRem(25);
        row-gap: toRem(25);
        flex-wrap: wrap
    }

    &__item {
        max-width: 100%
    }
}

.popular-categories {
    @include adaptiveValue ('padding-top', 20, 15);
    @include adaptiveValue ('padding-bottom', 20, 15);
    border-top: toRem(1) solid rgb(190, 188, 189, 0.4);
    border-bottom: toRem(1) solid rgb(190, 188, 189, 0.4);
    @include adaptiveValue ('padding-right', 85, 0, 0, $containerWidth, 768);
    @include adaptiveValue ('padding-left', 85, 0, 0, $containerWidth, 768);

    &__title {
    }

    &__buttom-title {
        width: 100%;
        text-align: left;
        @extend %footer-title;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: toRem(20);
        justify-content: space-between;
        transition: all 0.3s;
        &::before {
            transition: all 0.3s;
            position: relative;
            @include adaptiveValue ('font-size', 17, 12);
            .active & {
                transform: rotate(180deg);
            }
        } 

        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }   
        
    }
    // .popular-categories__body

    &__body {
        @include adaptiveValue ('margin-top', 40, 10);
    }

    // .popular-categories__list

    &__list {
    }

    // .popular-categories__item

    &__item {
        @extend %footer-item;
        &:not(:last-child) {
            @include adaptiveValue ('margin-bottom', 25, 5);
        }  
    }

    // .popular-categories__link

    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
