[class*="_icon-"]::before {
    display: inline-block;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ._icon-a-down:before {
    content: "\e900";
  }
  ._icon-a-left:before {
    content: "\e901";
  }
  ._icon-a-right:before {
    content: "\e902";
  }
  ._icon-a-up:before {
    content: "\e903";
  }
  ._icon-box:before {
    content: "\e904";
  }
  ._icon-cart:before {
    content: "\e905";
  }
  ._icon-ch-down:before {
    content: "\e906";
  }
  ._icon-ch-left:before {
    content: "\e907";
  }
  ._icon-ch-ridht:before {
    content: "\e908";
  }
  ._icon-ch-up:before {
    content: "\e909";
  }
  ._icon-check-box:before {
    content: "\e90a";
  }
  ._icon-close:before {
    content: "\e90b";
  }
  ._icon-credit:before {
    content: "\e90c";
  }
  ._icon-delete:before {
    content: "\e90d";
  }
  ._icon-ellips-0:before {
    content: "\e90e";
  }
  ._icon-ellipse:before {
    content: "\e90f";
  }
  ._icon-filtter:before {
    content: "\e910";
  }
  ._icon-free-shipping:before {
    content: "\e911";
  }
  ._icon-heart:before {
    content: "\e912";
  }
  ._icon-hide:before {
    content: "\e913";
  }
  ._icon-lock:before {
    content: "\e914";
  }
  ._icon-message:before {
    content: "\e915";
  }
  ._icon-my-orders:before {
    content: "\e916";
  }
  ._icon-out:before {
    content: "\e917";
  }
  ._icon-play:before {
    content: "\e918";
  }
  ._icon-polygon:before {
    content: "\e919";
  }
  ._icon-s-fb:before {
    content: "\e91a";
  }
  ._icon-s-in:before {
    content: "\e91b";
  }
  ._icon-s-insta:before {
    content: "\e91c";
  }
  ._icon-s-tw:before {
    content: "\e91d";
  }
  ._icon-search:before {
    content: "\e91e";
  }
  ._icon-see:before {
    content: "\e91f";
  }
  ._icon-size:before {
    content: "\e920";
  }
  ._icon-star-2:before {
    content: "\e921";
  }
  ._icon-star-3:before {
    content: "\e922";
  }
  ._icon-star:before {
    content: "\e923";
  }
  ._icon-stars:before {
    content: "\e924";
  }
  ._icon-truck:before {
    content: "\e925";
  }
  ._icon-user:before {
    content: "\e926";
  }