@use "sass:math";

$minWidth: 320;

$maxWidth: 1440;

$maxWidthContainer: 1240;

$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
@import"_functions.scss";

@import"_fonts.scss";

@import"_icons.scss";

@import"_reset.scss";

@import"_vars.scss";

@import"_common.scss";

@import"_header.scss";

@import"_home.scss";

@import"_footer.scss";


body {
    font-family: 'Causten', sans-serif;
    color: $mainColor;

    &.menu-open {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;

    @media (max-width: toEm(540)) {
        padding-bottom: toRem(75);
    }
}

.wrapper > main {
    flex-grow: 1;
}


[class*= __container] {
    max-width: toEm(1270);
    padding-left: toEm(15);
    padding-right: toEm(15);
    margin: 0 auto;
}

// ----------main-------------------
// .page {
//     @include adaptiveValue ('padding-top', 109, 66);
// }
.page {

    &__hero {
        @include adaptiveValue ('margin-bottom', 130, 40);
    }
    &__deals {
        @include adaptiveValue ('margin-bottom', 100, 40);
    }
    &__new {
        @include adaptiveValue ('margin-bottom', 95, 40);
    }
}