@import url('fonts.css');

@import url('reset.css');

body{
    /* font-family: 'CoreSansC',serif; */
    font-family: 'Causten',serif;
}

[class*="__container"] {
	max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}

