
@font-face {
    font-family: 'Causten';
    src: url('../fonts/Causten-Regular.woff2') format('woff2'),
         url('../fonts/Causten-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal; 
    font-display: swap;    
}

@font-face {
    font-family: 'Causten';
    src: url('../fonts/Causten-Bold.woff2') format('woff2'),
         url('../fonts/Causten-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal; 
    font-display: swap;    
}

@font-face {
    font-family: 'Core Sans ะก';
    src: url('../fonts/CoreSansC-65BoldIt.woff2') format('woff2'),
         url('../fonts/CoreSansC-65BoldIt.woff') format('woff');
    font-weight: 600;
    font-style: normal; 
    font-display: swap;    
}