.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: $whiteColor;
    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        align-items: center;
        min-height: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        @media (max-width: 1184px) {
            column-gap: 30px;
        }
        @media (max-width: $tablet) {
            min-height: 50px;
            column-gap: 10px;
        }
        @media (max-width: 533px) {
            justify-content: space-between;
        }
    }

    // .header__logo

    &__logo {
        flex-shrink: 0;
        cursor: pointer;
        max-width: 91px;
        max-height: 45px;
        transition: all 0.3s;
        & img {
            max-width: 100%;
        }
        @media (any-hover:hover) {
            &:hover {
                transform: scale(1.05);
            }
        }   
        @media (max-width: $tablet) {
            z-index: 5;
        }
        @media (max-width: 565px) {
            max-width: 70px;
        }
    }

    // .header__menu

    &__menu {
    }


    &__form {
    }

    // .header__actions

    &__actions {
    }
}
.menu {

    // .menu__body

    &__body {
        @media (max-width: $tablet) {
            position: fixed;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100%;
            background-color: $mainColor;
            padding: 70px 15px 30px;
            overflow: auto;
            transition: all 0.3s;
            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 50px;
                z-index: 2;
                background-color: $whiteColor;
            }
            .menu-open & {
                left: 0;
            }
        }
    }

    // .menu__list

    &__list {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        column-gap: 40px;
        row-gap: 5px;
        flex-wrap: wrap;
        @media (max-width: 1184px) {
            column-gap: 20px;
        }
        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    // .menu__item
    &__item {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .menu__link

    &__link {
        color: $grayColor;
        font-size: 22px;
        font-weight: 500;
        transition: all 0.3s;
        &--active {
            font-weight: 700;
            color: $mainColor;    
        }
        @media (max-width: $tablet) {
            font-size: 30px;
            color: $whiteColor;
        }
    }
}

.form-header {
    display: flex;
    flex-shrink: 0;
    @media (max-width: $tablet) {
        z-index: 5;
    }
    @media (max-width: 530px) {
        display: none;
    }

    &__line {
        display: flex;
        column-gap: 12px;
        align-items: center;
        position: relative;
        flex: 0 0 270px;
        @media (max-width: 1184px) {
            flex: 0 1 270px;
        }        
    }

    // .form-header__btn

    &__btn {
        position: absolute;
        top: 30%;
        left: 20px;
        & img{
            max-width: 100%;
            width: 20px;
            height: 20px;
        }
    }

    // .form-header__input

    &__input {
        height: 44px;
        padding-left: 52px;
        width: 100%;
        border-radius: 8px;
        background: $bgColor;
        transition: all 0.3s;
        &::placeholder{
            color: $grayColor;
        }
        &:hover {
            outline: 1px solid $mainColor;
            &::placeholder{
                opacity: 0;
                transition: all 0.3s;
            }
        }
    }
}
.actions-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 12px;
    @media (max-width: $tablet) {
        position: relative;
        z-index: 5;
    }
    @media (max-width: 533px) {
        flex-grow: 1;
        justify-content: space-between;
    }

    &__item {
        cursor: pointer;
        border-radius: 8px;
        background: $bgColor;
        display: flex;
        flex: 0 0 12px;
        padding: 12px; 
        max-width: 44px;
        transition: all 0.3s;
        img {
            min-width: 100%;
            aspect-ratio: 20/20;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    &__icon-menu {
    }
}
.icon-menu {
    @media (max-width: $tablet) {
        position: relative;
        z-index: 5;
        flex: 0 0 30px;
        height: 18px;
        width: 30px;
        display: block;
        transition: all 0.3s;

        &::before,
        &::after,
        & span {
            position: absolute;
            content: '';
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $mainColor;
        }
        
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        & span {
            top: 50%;
            margin-top: -1px;
        }

        .menu-open & {
            &::before, &::after {
                margin: -1px;
            }

            & span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(-45deg);
                top: 50%;
            }
            &::after {
                transform: rotate(45deg);
                bottom: 50%;
            }
        }
    }
}